<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 为这个mapper指定一个唯一的namespace，namespace的值习惯上设置成包名+sql映射文件名，这样就能够保证namespace的值是唯一的
例如namespace="me.gacl.mapping.userMapper"就是me.gacl.mapping(包名)+userMapper(userMapper.xml文件去除后缀)
-->
<mapper namespace="mapping.GudongMapper">
    <!-- 在select标签中编写查询的SQL语句， 设置select标签的id属性为getUser，id属性值必须是唯一的，不能够重复
使用parameterType属性指明查询时使用的参数类型，resultType属性指明查询返回的结果集类型
 resultType="me.gacl.domain.User"就表示将查询结果封装成一个User类的对象返回
User类就是users表所对应的实体类
-->
    <!--
    根据id查询得到一个user对象
 -->
    <select id="getRead" parameterType="java.util.HashMap"
            resultType="java.util.HashMap">
        select * from dimension_sum.${tablename} limit ${lim},50000
    </select>

    <select id="getSh" parameterType="java.util.HashMap"
            resultType="java.util.HashMap">
        select * from dimension_sum.${tablename} where only_id in
        <foreach collection="field" index="index" open="(" close=")" item="item" separator ="," >
            #{item}
        </foreach>
    </select>


    <delete id="delete" parameterType="java.util.HashMap">
        delete from clean_data.company_shareholder where tail_id in
        <foreach collection="field" index="index" open="(" close=")" item="item" separator ="," >
            #{item}
        </foreach>
    </delete>


    <insert id="insert" parameterType="java.util.HashMap">
        insert into clean_data.company_shareholder(comp_id,comp_full_name,tail_id,shareholder_name,shareholder_type,shareholder_id,contribution_rate,subscribe_amount,subscribe_date,is_enable,data_source,del_flag) values
        <foreach collection="field" index="index" item="item" separator ="," >
            (#{item.comp_id},#{item.comp_full_name},#{item.tail_id},#{item.shareholder_name},#{item.shareholder_type},#{item.shareholder_id},#{item.contribution_rate},#{item.subscribe_amount},#{item.subscribe_date},#{item.is_enable},#{item.data_source},#{item.del_flag})
        </foreach>
    </insert>
</mapper>
